[color]
	ui = true
[user]
	name = Kevin Crawford
	email = kvcrawford@gmail.com
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	update = !git fetch -v && echo && git status
	co = checkout
	u = !git update
	l = log --all --oneline --decorate --graph
	s = status
	d = diff
	delete-merged-branches = "!f() { git branch --merged | grep -v '\*\|master\|develop\|staging' | xargs -n 1 git branch -d }; f"
[merge]
	conflictstyle = diff3
