[color]
	ui = true
[user]
	name = Kevin Crawford
	email = kvcrawford@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = subl -w
[push]
	default = simple
[alias]
	update = !git fetch -v && echo && git status
	co = checkout
	u = !git update
	l = log --all --oneline --decorate --graph
	s = status
	d = diff
