[color]
	ui = true
[user]
	name = Kevin Crawford
	email = kcrawford@gunnjerkens.com
[core]
	excludesfile = /Users/kcrawford/.gitignore
[push]
	default = simple
[alias]
	update = !git fetch -v && echo && git status
	u = !git update
	l = log --all --oneline --decorate --graph
	s = status
	d = diff
